body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiButton-containedPrimary {
  background-color: #1da1f2 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #1a91da !important;
}

.MuiTextField-root {
  background-color: white;
  border-radius: 4px;
}

.MuiListItemText-primary {
  color: #fff;
}

.MuiListItemText-secondary {
  color: #aaa;
}